[Resolve]
DNS={{ base_system_dns_primary }}
FallbackDNS={{ base_system_dns_fallback }}
Domains={{ base_system_dns_domains }}
DNSSEC={{ base_system_dnssec }}
DNSOverTLS={{ base_system_dns_over_tls }}
# MulticastDNS=no
# LLMNR=resolve
# Cache=yes
# DNSStubListener=yes
